body {
	background-color: beige;
	font-family:"Georgia", serif;
}
canvas {
	background-color: white;
}
div {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-spacing: 0;
}
.label {
	font-style: italic;
	margin-right: 2px;
	text-align: right;
}
.title {
	display: block;
	font-style: italic;
	font-size: larger;
	margin-top: 12px;
	margin-bottom: 2px;
}
.note {
	font-size: smaller;
	font-style: italic;
}
.subnote {
	font-size: smaller;
	font-style: italic;
	display: block;
}
.black {
	color: black;
}
.red {
	color: #D74939;
}
.blue {
	color: #267F8D;
}
.green {
	color: #87B72D;
}
